# rscmgr rc file

on property:sys.readahead.resource=1
    readahead /vendor/bin/hw/vendor.samsung.hardware.camera.provider-service_64 --fully
    readahead /vendor/lib64/android.hardware.camera.device-V3-ndk.so --fully
    readahead /vendor/lib64/android.hardware.camera.provider-V3-ndk.so --fully
    readahead /vendor/lib64/android.hardware.common.fmq-V1-ndk.so --fully
    readahead /vendor/lib64/hw/android.hardware.camera.provider@2.6-impl-mediatek.so --fully
    readahead /vendor/lib64/hw/camera.mt6877.so --fully
    readahead /vendor/lib64/hw/mapper.mediatek.so --fully
    readahead /vendor/lib64/hw/vendor.mediatek.hardware.camera.isphal_aidl@1.0-impl.so --fully
    readahead /vendor/lib64/imx582_mipi_raw_IdxMgr.so --fully
    readahead /vendor/lib64/lib3a.ae.core.so --fully
    readahead /vendor/lib64/lib3a.ae.so --fully
    readahead /vendor/lib64/lib3a.af.assist.so --fully
    readahead /vendor/lib64/lib3a.awb.core.so --fully
    readahead /vendor/lib64/lib3a.ccudrv.so --fully
    readahead /vendor/lib64/lib3a.flicker.so --fully
    readahead /vendor/lib64/lib3a.gma.so --fully
    readahead /vendor/lib64/lib3a.lce.so --fully
    readahead /vendor/lib64/lib3a.sensors.color.so --fully
    readahead /vendor/lib64/lib3a.sensors.flicker.so --fully
    readahead /vendor/lib64/lib_samsung_profiler.so --fully
    readahead /vendor/lib64/libaaa_ltm.so --fully
    readahead /vendor/lib64/libaaa_ltmx.so --fully
    readahead /vendor/lib64/libaedv.so --fully
    readahead /vendor/lib64/libbinder.so --fully
    readahead /vendor/lib64/libbwc.so --fully
    readahead /vendor/lib64/libcam.afhal.so --fully
    readahead /vendor/lib64/libcam.chdr.so --fully
    readahead /vendor/lib64/libcam.feature_utils.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.ae.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.customframework.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.lscMgr.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.lsctbl.50.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.platform.so --fully
    readahead /vendor/lib64/libcam.hal3a.v3.so --fully
    readahead /vendor/lib64/libcam.halisp.buf.so --fully
    readahead /vendor/lib64/libcam.halisp.common.so --fully
    readahead /vendor/lib64/libcam.halisp.so --fully
    readahead /vendor/lib64/libcam.halsensor.hwintegration_mt6877.so --fully
    readahead /vendor/lib64/libcam.halsensor.so --fully
    readahead /vendor/lib64/libcam.iopipe.so --fully
    readahead /vendor/lib64/libcam.isptuning.so --fully
    readahead /vendor/lib64/libcam.pdtblgen.so --fully
    readahead /vendor/lib64/libcam.tuning.cache.so --fully
    readahead /vendor/lib64/libcam.vhdr.so --fully
    readahead /vendor/lib64/libcamalgo.fdft.so --fully
    readahead /vendor/lib64/libcamalgo.gyro.so --fully
    readahead /vendor/lib64/libcamalgo.ispfeature.so --fully
    readahead /vendor/lib64/libcamalgo.lmv.so --fully
    readahead /vendor/lib64/libcamalgo.lsc.so --fully
    readahead /vendor/lib64/libcamalgo.platform.so --fully
    readahead /vendor/lib64/libcamalgo.utility.so --fully
    readahead /vendor/lib64/libcamdrv_isp.so --fully
    readahead /vendor/lib64/libcamdrv_tuning_mgr.so --fully
    readahead /vendor/lib64/libcamdrv_twin.so --fully
    readahead /vendor/lib64/libcamera.custom.pd_buf_mgr.so --fully
    readahead /vendor/lib64/libcamera_metadata.so --fully
    readahead /vendor/lib64/libcameracustom.camera.3a.so --fully
    readahead /vendor/lib64/libcameracustom.camera.isp.so --fully
    readahead /vendor/lib64/libcameracustom.camera.sensors.so --fully
    readahead /vendor/lib64/libcameracustom.eis.so --fully
    readahead /vendor/lib64/libcameracustom.lens.so --fully
    readahead /vendor/lib64/libcameracustom.so --fully
    readahead /vendor/lib64/libdip_drv.so --fully
    readahead /vendor/lib64/libdip_postproc.so --fully
    readahead /vendor/lib64/libfeature.face.so --fully
    readahead /vendor/lib64/libfeature.stereo.provider.so --fully
    readahead /vendor/lib64/libfeature_3dnr.so --fully
    readahead /vendor/lib64/libfeature_lmv.so --fully
    readahead /vendor/lib64/libfeature_rss.so --fully
    readahead /vendor/lib64/libfeatureiodrv_mem.so --fully
    readahead /vendor/lib64/libhidlbase.so --fully
    readahead /vendor/lib64/libimageio_plat_drv.so --fully
    readahead /vendor/lib64/libimageio_plat_pipe.so --fully
    readahead /vendor/lib64/libion.so --fully
    readahead /vendor/lib64/libmfllcore.so --fully
    readahead /vendor/lib64/libmtkcam.featurepipe.capture.so --fully
    readahead /vendor/lib64/libmtkcam.featurepipe.streaming.so --fully
    readahead /vendor/lib64/libmtkcam.featurepipe.vsdof_util.so --fully
    readahead /vendor/lib64/libmtkcam.logicalmodule.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.core.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.customer.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.mtk.so --fully
    readahead /vendor/lib64/libmtkcam_3rdparty.so --fully
    readahead /vendor/lib64/libmtkcam_debugutils.so --fully
    readahead /vendor/lib64/libmtkcam_device3_app.so --fully
    readahead /vendor/lib64/libmtkcam_device3_hal.so --fully
    readahead /vendor/lib64/libmtkcam_device3_utils.so --fully
    readahead /vendor/lib64/libmtkcam_devicesessionpolicy.so --fully
    readahead /vendor/lib64/libmtkcam_diputils.so --fully
    readahead /vendor/lib64/libmtkcam_featurepolicy.so --fully
    readahead /vendor/lib64/libmtkcam_featureutils.so --fully
    readahead /vendor/lib64/libmtkcam_grallocutils.so --fully
    readahead /vendor/lib64/libmtkcam_hal_legacy2hal_common.so --fully
    readahead /vendor/lib64/libmtkcam_hal_legacy2hal_device.so --fully
    readahead /vendor/lib64/libmtkcam_hal_legacy2hal_module.so --fully
    readahead /vendor/lib64/libmtkcam_hwnode.so --fully
    readahead /vendor/lib64/libmtkcam_hwutils.so --fully
    readahead /vendor/lib64/libmtkcam_imem.so --fully
    readahead /vendor/lib64/libmtkcam_imgbuf.so --fully
    readahead /vendor/lib64/libmtkcam_metadata.so --fully
    readahead /vendor/lib64/libmtkcam_metastore.so --fully
    readahead /vendor/lib64/libmtkcam_mfb.so --fully
    readahead /vendor/lib64/libmtkcam_modulefactory_aaa.so --fully
    readahead /vendor/lib64/libmtkcam_modulefactory_drv.so --fully
    readahead /vendor/lib64/libmtkcam_modulefactory_utils.so --fully
    readahead /vendor/lib64/libmtkcam_modulehelper.so --fully
    readahead /vendor/lib64/libmtkcam_pipeline.so --fully
    readahead /vendor/lib64/libmtkcam_pipeline_fbm.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_adapter.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_capture.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_isp.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_session.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_utils.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinemodel_zsl.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinepolicy.so --fully
    readahead /vendor/lib64/libmtkcam_pipelinepolicy_factory.so --fully
    readahead /vendor/lib64/libmtkcam_prerelease.so --fully
    readahead /vendor/lib64/libmtkcam_rsc.so --fully
    readahead /vendor/lib64/libmtkcam_scenariorecorder.so --fully
    readahead /vendor/lib64/libmtkcam_stdutils.so --fully
    readahead /vendor/lib64/libmtkcam_streamutils.so --fully
    readahead /vendor/lib64/libmtkcam_sysutils.so --fully
    readahead /vendor/lib64/libmtkcam_tuning_utils.so --fully
    readahead /vendor/lib64/libmtkcam_ulog.so --fully
    readahead /vendor/lib64/libneuron_wrapper.so --fully
    readahead /vendor/lib64/libpowerhalwrap_vendor.so --fully
    readahead /vendor/lib64/libsamsungcamerahal.so --fully
    readahead /vendor/lib64/libsamsungcamerahwl_impl.so --fully
    readahead /vendor/lib64/libseccam_util.so --fully
    readahead /vendor/lib64/libsecril-client.so --fully
    readahead /vendor/lib64/mt6877/libdpframework.so --fully
    readahead /vendor/lib64/mt6877/libmtk_drvb.so --fully
    readahead /vendor/lib64/mt6877/libneuron_runtime.5.so --fully
    readahead /vendor/lib64/mtkcam/libmtkcam_streaminfo_plugin-p1stt.so --fully
    readahead /vendor/lib64/unihal_android.so --fully
    readahead /vendor/lib64/unihal_cutils.so --fully
    readahead /vendor/lib64/unihal_entry.so --fully
    readahead /vendor/lib64/unihal_filter_unit.so --fully
    readahead /vendor/lib64/unihal_main.so --fully
    readahead /vendor/lib64/unihal_scenario.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.gpuserv-V2-ndk.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.mtkpower-V2-ndk.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.mtkpower@1.0.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.mtkpower@1.2.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.mtkpower_applist-V2-ndk.so --fully
    readahead /vendor/lib64/vendor.mediatek.hardware.pq_aidl-V2-ndk.so --fully
    readahead /vendor/lib64/vendor.samsung.hardware.camera.device-V1-ndk.so --fully

on property:sys.readahead.resource=2
    readahead /system/app/HoneyBoard/HoneyBoard.apk --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.odex --fully
    readahead /system/app/HoneyBoard/oat/arm64/HoneyBoard.vdex --fully
    setprop sys.readahead.resource 0
