# rscmgr rc file
on property:sys.readahead.resource=1
    readahead /system/bin/surfaceflinger --fully
    readahead /apex/com.android.vndk.v34/lib64/android.hardware.common.fmq-V1-ndk.so --fully
    readahead /apex/com.android.vndk.v34/lib64/android.hardware.graphics.mapper@4.0.so --fully
    readahead /apex/com.android.vndk.v34/lib64/android.system.suspend-V1-ndk.so --fully
    readahead /apex/com.android.vndk.v34/lib64/libcamera_metadata.so --fully
    readahead /apex/com.android.vndk.v34/lib64/libexpat.so --fully
    readahead /apex/com.android.vndk.v34/lib64/libgralloctypes.so --fully
    readahead /apex/com.android.vndk.v34/lib64/libhardware_legacy.so --fully
    readahead /apex/com.android.vndk.v34/lib64/libui.so --fully
    readahead /apex/com.android.vndk.v34/lib64/libz.so --fully
    readahead /system/bin/cameraserver --fully
    readahead /system/lib64/android.hardware.common-V2-cpp.so --fully
    readahead /system/lib64/android.hardware.common-V2-ndk.so --fully
    readahead /system/lib64/android.hardware.common.fmq-V1-cpp.so --fully
    readahead /system/lib64/android.hardware.common.fmq-V1-ndk.so --fully
    readahead /system/lib64/android.hardware.graphics.allocator@2.0.so --fully
    readahead /system/lib64/android.hardware.graphics.allocator@3.0.so --fully
    readahead /system/lib64/android.hardware.graphics.allocator@4.0.so --fully
    readahead /system/lib64/android.hardware.graphics.common-V6-ndk.so --fully
    readahead /system/lib64/android.hardware.graphics.common@1.0.so --fully
    readahead /system/lib64/android.hardware.graphics.common@1.1.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@2.0.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@2.1.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@3.0.so --fully
    readahead /system/lib64/android.hardware.graphics.mapper@4.0.so --fully
    readahead /system/lib64/libcamera_client.so --fully
    readahead /system/lib64/libedmnativehelper.so --fully
    readahead /system/lib64/libgralloctypes.so --fully
    readahead /system/lib64/libnativewindow.so --fully
    readahead /system/lib64/libpermission.so --fully
    readahead /system/lib64/libprocinfo.so --fully
    readahead /system/lib64/libsensorprivacy.so --fully
    readahead /system/lib64/libui.so --fully
    readahead /system/lib64/vendor.samsung.hardware.camera.device-V1-ndk.so --fully
    readahead /vendor/bin/hw/vendor.samsung.hardware.camera.provider-service_64 --fully
    readahead /vendor/lib64/android.frameworks.sensorservice-V1-ndk.so --fully
    readahead /vendor/lib64/android.hardware.camera.device-V2-ndk.so --fully
    readahead /vendor/lib64/android.hardware.camera.provider-V2-ndk.so --fully
    readahead /vendor/lib64/android.hardware.sensors-V2-ndk.so --fully
    readahead /vendor/lib64/hw/android.hardware.graphics.mapper@4.0-impl-sgr.so --fully
    readahead /vendor/lib64/hw/camera.s5e9945.so --fully
    readahead /vendor/lib64/libExtIDRC.so --fully
    readahead /vendor/lib64/libExtIRTA.so --fully
    readahead /vendor/lib64/libIRTA.so --fully
    readahead /vendor/lib64/libTsAwb_front.so --fully
    readahead /vendor/lib64/libTsAwb_rear.so --fully
    readahead /vendor/lib64/lib_profiler.so --fully
    readahead /vendor/lib64/libexynos_sensor_interface.so --fully
    readahead /vendor/lib64/libexynosgdc.so --fully
    readahead /vendor/lib64/libexynosutils.so --fully
    readahead /vendor/lib64/libexynosv4l2.so --fully
    readahead /vendor/lib64/libfloatingfeature.so --fully
    readahead /vendor/lib64/libion_exynos.so --fully
    readahead /vendor/lib64/libsamsungcamerahal.so --fully
    readahead /vendor/lib64/libsamsungcamerahalutils.so --fully
    readahead /vendor/lib64/libsamsungcamerahwl_impl.so --fully
    readahead /vendor/lib64/libsecnativefeature.so --fully
    readahead /vendor/lib64/libsemseg.so --fully
    readahead /vendor/lib64/libsensorlistener.so --fully
    readahead /vendor/lib64/libsensorndkbridge.so --fully
    readahead /vendor/lib64/libtflitecore.so --fully
    readahead /vendor/lib64/libtriplepreview_interface.so --fully
    readahead /vendor/lib64/unihal_android.so --fully
    readahead /vendor/lib64/unihal_cutils.so --fully
    readahead /vendor/lib64/unihal_entry.so --fully
    readahead /vendor/lib64/unihal_main.so --fully
    readahead /vendor/lib64/vendor.samsung.hardware.camera.device-V1-ndk.so --fully